@{
    ViewData["Title"] = "Home Page";
}

<h2>Виберіть дію:</h2>
<ul>
    <li>
        <a asp-controller="Translate" asp-action="TranslateText">Переклад тексту</a>
    </li>
    <li>
        <a asp-controller="Translate" asp-action="TranslateImage">Переклад тексту з зображення</a>
    </li>
</ul>